#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

li{
  font-style: italic;
}


.App {
  text-align: center;

}
body{
background-image: url(/src/images/cleaning-1.jpg);
}



@font-face {
  font-family: 'Dancing Script', cursive;
  src: url(/src/fonts/DancingScript-VariableFont_wght.ttf);
}

.cursive{
  font-family:'Dancing Script', cursive;
}
